body {
  margin: 0;
}

.container {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.right-container {
  width: 65vw;
  height: 100vh;
}

.left-container {
  background-image: url(./neom-s0A8sa9oasY-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 35vw;
  height: 100vh;
}

.banner {
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 12vh;
  width: 100%;
  margin-right: 3rem;
  position: relative;
  top: 10rem;
}

.logo-header {
  color: #bea991;
  font-family: "Lilita One";
  font-size: 60px;
}

.logo {
  height: fit-content;
  height: 80px;
  margin-right: 1rem;
}

.credit {
  margin-left: 2rem;
  margin-bottom: 1rem;
  margin-left: 1rem;
  font-size: 0.8em;
  color: rgb(45, 34, 15);
}

.credit a {
  text-decoration: none;
  color: rgb(45, 34, 15);
}

.starting-text {
  font-family: "Times New Roman", Times, serif;
  font-weight: lighter;
  padding: 3rem;
  line-height: 2rem;
}

@media (max-width: 900px) and (max-height: 700px) {
  .logo-header {
    font-size: 50px;
  }

  .logo {
    height: 50px;
  }
}

.grid-container {
  margin-left: 2rem;
  display: grid;
  grid-template-columns: 20rem 20rem;

  padding: 1rem;
}

@media (max-width: 900px) {
  .grid-container {
    grid-template-columns: auto;
  }
  #e-mail {
    margin-bottom: 4rem;
  }
}

.grid-item {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-bottom: 0.2rem;
  letter-spacing: 2px;
}

.grid-div {
  display: flex;
  flex-direction: column;
}

label {
  margin-top: 1.5rem;
}

input {
  width: 12rem;

  padding: 5px;
  border-radius: 5px;
  border-style: solid;
  border-color: #bea991;
}

input:focus {
  outline: none;
  border-color: #807160;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.account-btn {
  align-items: center;
  background-color: #bea991;
  border: 0;
  border-radius: 50px;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto,
    "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen
    Sans", Cantarell,
    "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI
    Symbol",
    "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  margin-left: 2.9rem;
  margin-top: 1.5rem;
  max-width: 480px;
  min-height: 40px;
  min-width: 0px;
  overflow: hidden;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  touch-action: manipulation;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s,
    box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s,
    color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  vertical-align: middle;
}
.account-btn:hover {
  background-color: #050608;
  color: #ffffff;
}
.account-btn:active {
  transform: scale(0.95);

  color: rgb(255, 162, 0);
}

.account-btn:disabled {
  cursor: not-allowed;
  background: rgba(0, 0, 0, 0.08);
  color: rgba(0, 0, 0, 0.3);
}

.log-in {
  margin-top: 0;
  font-family: "Times New Roman", Times, serif;
  font-weight: lighter;
  line-height: 2rem;
  padding: 1rem;
  margin-left: 2rem;
}

.log-in a {
  text-decoration: none;
  color: #4e3c28;
}

/* JavaScript classes*/

.password-error {
  font-size: 14px;
  color: red;
  padding: 0;
  margin: 0;
}
